{% extends 'admin/store-base.html' %}

{% block body %}
		<!--Breadcrumb Area Start-->
		<div class="breadcrumb-area">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-12">
		                <div class="breadcrumb-content text-center">
                            <h1 class="breadmome-name">Affiliates</h1>
		                    <ul>
		                        <li><a href="index.html" style="padding:0">Home</a></li>
														<li><p class="divider">/</p></li>
		                        <li class="active">Affiliate Program</li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="affiliates bg-card">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12" style="margin-top: 5rem;">
										<h4><ul>Join our Program</ul></h4>
										<p>Achieve a win situation with your customers by joining our Affiliate Program!
											We, are one of the largest online esports retailers and are looking forward to sharing our resources with you. Earn commision on all referred sales just by referring customers to us.
											We have several affiliate programs: Choose one and be a part of the the team now!</p>
		            </div>
						</div>
						<div class="row" style="height: 100%">
								<div class="col-lg-1"></div>
								<div class="picbox col-lg-10" style="margin: 5rem 0 10rem 0">
										<div class="picbox-wrapper">
												<div class="hd col-lg-3">
														<ul class='aff-panel'>
																<li class="aff-tab on" data-id='.aff-info1'>
																		<div>
																				<span class="bg-box img-01">&nbsp;</span>
																				<h3 class="bg-box-word" style="">HOW IT WORKS</h3>
																		</div>
																</li>
																<li class="aff-tab" data-id='.aff-info2'>
																		<div>
																				<span class="bg-box img-02">&nbsp;</span>
																				<h3 class="bg-box-word">YOUR BENEFITS</h3>
																		</div>
																</li>
																<li class="aff-tab" data-id='.aff-info3'>
																		<div>
																				<span class="bg-box img-03">&nbsp;</span>
																				<h3 class="bg-box-word">CUSTOMER BENEFITS</h3>
																		</div>
																</li>
																<li class="aff-tab" data-id='.aff-info4'>
																		<div><span class="bg-box img-04">&nbsp;</span>
																				<h3 class="bg-box-word">JOIN US</h3>
																		</div>
																</li>
														</ul>
												</div>
												<div class="bd col-lg-9">
														<ul class='aff-info'>
																<li class="aff-info1 content">
																		<h3 class="bg-box-word" style="">HOW IT WORKS</h3>
																</li>
																<li class="aff-info2">
																		<h3 class="bg-box-word">YOUR BENEFITS</h3>
																</li>
																<li class="aff-info3">
																		<h3 class="bg-box-word">CUSTOMER BENEFITS</h3>
																</li>
																<li class="aff-info4">
																		<h3 class="bg-box-word">JOIN US</h3>
																</li>
														</ul>
												</div> <!-- end bd -->
										</div>
								</div>
								<div class="col-lg-1"></div>
		        </div>
		    </div>
		</div>
		<!--FAQ Area End-->
		<!--Feature Area Start-->
		<div class="feature-area mt-70">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-4">
		                <!--Single Feature Start-->
		                <div class="single-feature">
		                    <div class="feature-icon">
		                        <i class="icon ion-ios-telephone"></i>
		                    </div>
		                    <div class="feature-content">
		                        <h3>(999) 1234 56789</h3>
		                        <p>Free support line!</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		            <div class="col-md-4">
		                <!--Single Feature Start-->
		                <div class="single-feature">
		                    <div class="feature-icon">
		                        <i class="icon ion-email"></i>
		                    </div>
		                    <div class="feature-content">
		                        <h3>(999) 1234 56789</h3>
		                        <p>Free support line!</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		            <div class="col-md-4">
		                <!--Single Feature Start-->
		                <div class="single-feature">
		                    <div class="feature-icon">
		                        <i class="icon ion-ios-timer-outline"></i>
		                    </div>
		                    <div class="feature-content">
		                        <h3>(999) 1234 56789</h3>
		                        <p>Free support line!</p>
		                    </div>
		                </div>
		                <!--Single Feature End-->
		            </div>
		        </div>
		    </div>
		</div>
		<!--Feature Area End-->

{% endblock %}
