{% extends 'admin/store-base.html' %}

{% block body %}
		<!--Breadcrumb Area Start-->
		<div class="breadcrumb-area">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-12">
		                <div class="breadcrumb-content text-center">
                            <h1 class="breadmome-name">Copyright Notice</h1>
		                    <ul>
		                        <li><a href="index.html" style="padding:0">Home</a></li>
														<li><p class="divider">/</p></li>
		                        <li class="active">Copyright</li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="faq-area bg-card">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12 mt mb">
										<h4>Copyright Notice</h4>
										<p>Eterant respects the intellectual property of others. If you believe that your work has been copied in a way that constitutes trademark or copyright infringement, please submit your complaint by report to copyright@Eterant.com. We will quickly respond to the rights of owners with any concerns they may have about any alleged IP disputes.
											To claim a copyright or trademark complaint, please provide us with the following information:</p>
										<ul style="margin-left: 2rem;">
												<li>- A description of the IP rights that you claim has been infringed upon;</li>
												<li>- A description or web-link of the product you claim is being infringed;</li>
												<li>- Your contact information including: address, telephone number and e-mail address;</li>
												<li>- A statement by you made under penalty of perjury, that the above information in your notice is accurate and that you are the IP right owner or authorized to act on the copyright owner's behalf.</li>
										</ul>
										<div class="space"></div>
										<h4>Copyright Announcement </h4>
										<p>All content included in or made available through the Eterant website, Application or Services; such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software is the property of Eterant and protected by international copyright laws.</p>
										<div class="space"></div>
										<h4>Trademark Announcement</h4>
										<p>Eterant is also the owner of “Eterant” Trademark registered in many countries. Eterant’s trademarks and trade dress may not be used in connection with any product or service that is not Eterant’s, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Eterant.</p>

		            </div>
		        </div>
		    </div>
		</div>
		<!--FAQ Area End-->


{% endblock %}
