{% extends 'admin/base.html' %}

{% block body %}

    <div class="row">
        <div class="col-xl-12">

            <!-- Traffic sources -->
            <div class="card border-dark">
                <div class="card-header bg-dark text-white header-elements-inline">
                    <h6 class="card-title">Reports</h6>
                </div>

                <div class="card-body py-0">

                    <div class="row mt-2">
                        <div class="col-xl-6">

                            <!-- Traffic sources -->
                            <div class="card border-secondary">
                                <div class="card-header bg-secondary text-white header-elements-inline">
                                    <h6 class="card-title">Inventory</h6>
                                </div>

                                <div class="card-body py-0">
                                    <div class="row mt-2">
                                        <div class="col-sm-12">
                                            <div class="d-flex mb-2">
                                                <ul>
                                                    <li><a href="{{url_for('admin.inventory_purchases')}}">Active Purchase Orders Report</a></li>
                                                    <li><a href="{{url_for('admin.inventory_sales')}}">Product Sales Report</a></li>
                                                    <li><a href="{{url_for('admin.inventory_details')}}">Inventory Details</a></li>
                                                    <li><a href="{{url_for('admin.inventory_valuation')}}">Inventory Valuation Summary</a></li>
                                                    <li><a href="{{url_for('admin.inventory_fifo')}}">FIFO Cost Lot Tracking</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /traffic sources -->

                        </div>

                        <div class="col-xl-6">

                            <!-- Sales stats -->
                            <div class="card border-secondary">
                                <div class="card-header bg-secondary text-white header-elements-inline">
                                    <h6 class="card-title">Sales</h6>
                                </div>

                                <div class="card-body py-0">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <div class="mb-12">
                                                <ul>
                                                    <li><a href="{{url_for('admin.sales_invoice')}}">Invoice History</a></li>
                                                    <li><a href="{{url_for('admin.sales_payments')}}">Payments Received</a></li>
                                                    <li><a href="{{url_for('admin.sales_orders')}}">Sale Orders</a></li>
                                                    <li><a href="{{url_for('admin.sales_packing')}}">Sales Packing</a></li>
                                                    <li><a href="{{url_for('admin.sales_item')}}">Sales Item</a></li>
                                                    <li><a href="{{url_for('admin.sales_customers')}}">Sales by Customer</a></li>
                                                    <li><a href="{{url_for('admin.salesman')}}">Sales by Salesman</a></li>
                                                    <li><a href="{{url_for('admin.sales_balance')}}">Customer Balance</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /sales stats -->

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">

                            <!-- Traffic sources -->
                            <div class="card border-secondary">
                                <div class="card-header bg-secondary text-white header-elements-inline">
                                    <h6 class="card-title">Purchases</h6>
                                </div>

                                <div class="card-body py-0">
                                    <div class="row mt-2">
                                        <div class="col-sm-12">
                                            <div class="d-flex mb-2">
                                                <ul>
                                                    <li><a href="{{url_for('admin.purchases_orders')}}">Purchase Order History</a></li>
                                                    <li><a href="{{url_for('admin.purchases_receivable')}}">Purchase Receivable</a></li>
                                                    <li><a href="{{url_for('admin.purchases_vendors')}}">Purchases by Vendor</a></li>
                                                    <li><a href="{{url_for('admin.purchases_items')}}">Purchases by Items</a></li>
                                                    <li><a href="{{url_for('admin.purchases_bills')}}">Bill Details</a></li>
                                                    <li><a href="{{url_for('admin.purchases_payments')}}">Payments Made</a></li>
                                                    <li><a href="{{url_for('admin.purchases_balance')}}">Vendor Balance</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /traffic sources -->

                        </div>

                        <div class="col-xl-6">

                            <!-- Sales stats -->
                            <div class="card border-secondary">
                                <div class="card-header bg-secondary text-white header-elements-inline">
                                    <h6 class="card-title">Activity</h6>
                                </div>

                                <div class="card-body py-0">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <div class="mb-12">
                                                <ul>
                                                    <li><a href="{{url_for('admin.activity_mail')}}">System Mail</a></li>
                                                    <li><a href="{{url_for('admin.activity_log')}}">Activity Logs</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /sales stats -->

                        </div>

                        <div class="col-xl-2">
                        </div>
                    </div>


                </div>

            </div>
            <!-- /traffic sources -->

        </div>

    </div>

{% endblock %}
