{% extends 'admin/store-base.html' %}

{% block body %}
		<!--Breadcrumb Area Start-->
		<div class="breadcrumb-area">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-12">
		                <div class="breadcrumb-content text-center">
                            <h1 class="breadmome-name">Shipping & Returns</h1>
		                    <ul>
		                        <li><a href="index.html" style="padding:0">Home</a></li>
														<li><p class="divider">/</p></li>
		                        <li class="active">Shipping & Returns</li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="faq-area bg-card">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">
										<table>
												<thead>
														<tr>
																<th>Country/Region</th>
																<th>Shipping Method</th>
																<th>Costs</th>
																<th>Shipping time</th>
														</tr>
												</thead>
												<tbody>
														<tr>
																<td>United States</td>
																<td>Standard Shipping</td>
																<td><b>Free - Orders over $99</b></td>
																<td>7-14 Business Days</td>
														</tr>
														<tr>
																<td>United States</td>
																<td>Express Shipping</td>
																<td><b>Free - Orders over $199</b></td>
																<td>3-5 Business Days</td>
														</tr>
												</tbody>
										</table>
		            </div>
		        </div>
						<div class="row">
								<h4>Notes</h4>
								<p>1) Express Shipping is not available for P.O. Boxes and APO/FPO addresses.</p>
								<p>2) Shipping Time does not include a 1-3 day processing period required to process your order from the date your order is placed.</p>
								<p>3) We will make every effort to deliver your package ASAP. However, additional time may be required due to invalid addresses and custom clearance issues.</p>
								<p>4) Should your package not arrive within 21 days after you have placed your order, you must contact Customer Support within 180 days after your order was placed.</p>
								<hr>
						</div>
						<div class="row mb">
								<h4>Return Policy</h4>
								<p>We accept returns postmarked within 30 days of the original purchase date.
									Use a return label to postmark your return within 30 days from the purchase date.
									You must use your local post office at your own cost.</p>
								<p>1. Sign into your Eloraus account.</p>
								<p>2. Find the order by My Orders.</p>
								<p>3. Select the item(s) you would like to return, indicate the reason, and submit.</p>
								<p>4. Print the return label and securly tape it to the outside of your package</p>
								<p>5. Call or take the package to your local post office</p>
								<hr>
								<h4>Conditions</h4>
								<p>Items must be returned unworn, unwashed, undamaged with all original tags attached. Please do not send your return to the address on your package. This is not the return address and will affect the processing of your return. Please be sure to double check your returns before shipping them out. We will not be held responsible for the return of non-Eterant products.</p>
								<hr>
								<h4>Refunds</h4>
								<p>Returns will be processed within 7 days upon receipt of your package. The refund will be issued to your Eterant wallet or the original payment account per your request.</p>
								<p><b>Note:</b> The original shipping fee is non-refundandable.</p>
						</div>
		    </div>
		</div>
		<!--FAQ Area End-->

{% endblock %}
