/* Globals */
.rv {
    margin: 0 !important;
    padding: 0 !important;
}

.mt {
    margin-top: 2rem;
    padding: 0;
}

.mb {
    margin-bottom: 2rem;
    padding: 0;
}

.show {
    color: rgb(255,85,0) !important;
    border-bottom-color: rgb(255,85,0) !important;
}

.collapse {
    display: none;
}

/* background cards */

.bg-card {
    height: 100%;
    background-color: white;
}

.bg-card h4 {
    color: black;
}

/* Breadcrumbs */

.breadcrumb-area {
    background-color: rgb(243, 243, 243);
    padding: 30px 0px;
}

.breadcrumb-content {
    text-align: center !important;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    width: 100%;
}

.breadcrumb-content h1 {
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 106, 0);
    font-size: 24px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 0px 0px 18px;
}

.breadcrumb-content > ul > li {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: rgb(255, 106, 0);
    list-style: none;
}

.breadcrumb-content ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* Footer */

footer {
    margin: 0;
    padding: 0;
}

footer h1, footer h2, footer h3,  footer h4, footer h5, footer h6 {
    color: white;
    font-weight: 700;
}

.footer-help ul li a {
    color: white;
}

.footer-partner ul li a {
    color: white;
}

.footer-legal ul li a {
    color: white;
}

/* returns.html */

.feature-area {
    padding: 40px 0;
    background-color: rgb(252,116,5);
}

.single-feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #a1adbe;
}

.feature-icon > i {
    font-size: 48px;
    color: #fff;
}

.feature-content {
    display: inline-block;
    padding-left: 15px;
    text-align: left;
}

.feature-content > h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.feature-content > p {
    margin: 0;
    font-size: 14px;
    color: #fff;
}

.feature-area .col-md-4:last-child .single-feature {
    border-right: 0;
}

/* payments.html */

.payment-box {
    padding: 2.5rem;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-style: dotted;
    height: 150px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.payment-box:hover {
    color: orange;
}

/* faq.html */

.faq-desc {
    margin-top: 5rem;
}

.faq-desc h4 {
    color: #252525;
    font-size: 18px;
    font-weight: 700;
}

.faq-accordion {
    margin-top: 2rem;
}

.faq-accordion .card.actives {
    border: 1px solid #ff6a00;
}

.faq-accordion .card {
    border-radius: 0;
    margin-bottom: 10px;
}

.faq-accordion .card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border: 0;
}

.faq-accordion .card-header a {
    display: block;
    padding: 15px 10px 15px 25px;
    cursor: pointer;
}

.faq-accordion .card-header a.collapsed:before,
.faq-accordion .card-header a:after {
    content: "\f067";
    font-family: fontawesome;
    position: absolute;
    right: 15px;
    top: 15px;
}

.faq-accordion .card-header a:after {
    content: "\f068 ";
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.collapse {
    display: none;
}

.slick-dots li button:before {
       font-size: 20px;
       line-height: 20px;
}

.slick-list {
      margin: 0 2rem;
}

.slick-prev {
    left: -20px !important;
}

.slick-prev:before {
  color: black;
}

.slick-next {
    right: 0px !important;
}

.slick-next:before {
  color: black;
}

/* about.html */

.contact-box h3 {
    color: black;
    margin: 0;
}

.contact-box h4 {
    color: #aaa;
}

.black-rect {
    width:12px;
    height:60px;
    background:#000;
    float:left;
    margin: .5rem 1rem 0 0;
}

.black-rect-right {
    width:12px;
    height:60px;
    background:#000;
    float:right;
    margin: .5rem 0 0 1rem;
}

.about-box {
    height: 125px;
    width: 150px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.contact-box {
    height: 250px;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.but {
  border: 2px solid rgb(0, 0, 0, 0.5);
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 700px;
  cursor: pointer;
}

.but:hover {
  background-color: orange;
}

/* store-signup.html */

.blank-card {
    height: 750px;
    display: table-cell;
    vertical-align: middle;
}

/* affiliate.html */

.picbox {
    width: 100%;
}

.picbox .hd {
    width: 23.7%;
    height: 575px;
    position: relative;
    overflow: hidden;
}

.picbox .hd ul li {
    height: 135px;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: .5rem;
    background: #F6F6F6;
}

.picbox-wrapper {
    width: 87.8%;
    height: 575px;
    position: relative;
    overflow: hidden;
    zoom: 1;
}

.bg-box {
    display: block;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-box-word {
    font-size: 15px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 800;
    text-transform: capitalize;
    color: black;
}


.on {
    background-color: rgb(255, 156, 0) !important;
    border: 1px solid rgb(255, 106, 0) !important;
}

.img-01 {
    background-image: url(http://shein.ltwebstatic.com/advertise//shein/427-icon-new/icon1.png);
    background-size: 42px 42px;
    background-size: contain;
}

.img-02 {
    background-image: url(http://shein.ltwebstatic.com/advertise//shein/427-icon-new/icon3.png);
    background-size: 42px 42px;
    background-size: contain;
}

.img-03 {
    background-image: url(http://shein.ltwebstatic.com/advertise//shein/427-icon-new/icon2.png);
    background-size: 42px 42px;
    background-size: contain;
}

.img-04 {
    background-image: url(http://shein.ltwebstatic.com/advertise//shein/427-icon-new/icon4.png);
    background-size: 42px 42px;
    background-size: contain;
}

.content {
    display: inline-block !important;
}

.aff-info1, .aff-info2, .aff-info3, .aff-info4 {
    display: None;
}

/* Dashboards */

.account-content h1

.account-nav ul li {
    display:inline-block;
    padding: 1rem .5rem 1rem .5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.account-content {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%;
    width: 78%;
    padding-top: 0.5%;
}

.account_orders {
    display: inline;
    margin-right: 1rem;
}

.account-card {
    height: 1000px;
}

.account-nav {
    display: inline-block;
    position: relative;
    border-right: 1px solid rgba(0,0,0,0.2);
    width: 20%;
    height: 100%;
    padding-top: 0.5%;
    padding-right: 2%;
    padding-bottom: 0%;
    padding-left: 2%;
}

.account-nav h4 {
    margin-top: 2rem;
}

/* account-emails.html */

.agree input {
    width: 5%;
    display: inline-block;
}

.agree label {
    vertical-align: top;
    display: inline-block;
    margin-top: 5px;
}

.agree ul {
    margin-left: 2.5rem;
}

.agree p {
    margin-bottom: 1rem;
}

/* product-details.html */
.product-pic {
    z-index: 999;
    overflow: hidden; 
    margin-left: 1px;
    margin-top: 1px;
    background-position: -112.793px -415.703px;
    width: 357.656px;
    height: 434.297px;
    float: left;
    cursor: crosshair;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
