{% extends 'base.html' %}

{% block body %}

<div class="row" style="display: flex; align-items: center; text-align: right; margin-bottom: 10px;">
    <div class="col-lg-1"></div>
    <div class="col-lg-5" style="display: flex; align-items: center;">
        From&nbsp;&nbsp;<input type="text" class="form-control" id="activity_log_from_date" name="activity_log_from_date" size="30">
        &nbsp;&nbsp;&nbsp;&nbsp;To&nbsp;&nbsp;<input type="text" class="form-control" id="activity_log_to_date" name="activity_log_from_date" size="30">
        &nbsp;&nbsp;<button type="button" class="btn btn-primary add-row" id="report_activity_log_history_apply">Apply</button>
    </div>
    <div class="col-lg-5">
        <button type="button" class="btn btn-primary btn-sm" id="report_activity_log_export_csv">CSV Exports</button>
        <button type="button" class="btn btn-primary btn-sm" id="report_activity_log_export_excel">EXCEL Exports</button>
        <button type="button" class="btn btn-primary btn-sm" id="report_activity_log_export_doc">DOC Exports</button>
        <button type="button" class="btn btn-primary btn-sm" id="report_activity_log_export_pdf">PDF Exports</button>
    </div>
    <div class="col-lg-1"></div>
</div>

<div class="row report-activity-log-block" style="background-color:#eeeeee">
    <div class="col-lg-2"><p>Type</p></div>
    <div class="col-lg-2"><p>Reason</p></div>
    <div class="col-lg-2"><h8>Description</h8></div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3"><h8>Adjustments</h8></div>
    <div class="col-lg-1"></div>
    <div class="col-lg-1"><h8>Date</h8></div>
</div>
<div class="row" style="height:800px" id="report-activity-log-content">
    <div class="col-lg-5"></div>
    <div class="col-lg-4">
        <p>No Data To Display</p>
    </div>
    <div class="col-lg-3"></div>
</div>
<script src="../static/vendor/js/activity-log.js"></script>
{% endblock %}
