{% extends 'base.html' %}
 
{% block body %}

<style>
 .image-container {
  display: flex;
  justify-content: center;
}

.dropzone {
    text-align: center;
}
.dropzone .dz-preview, .dropzone-previews .dz-preview {
    margin: .3rem;
    min-width: 2rem;
}
.dropzone .dz-preview .dz-image {
    display:block;
    margin: auto;
    width: 100px;
    height: 100px;
}
.dropzone .dz-preview .dz-details {
    opacity: 1;
    padding: 0em;
    max-width: 100px;
}
.dropzone .dz-preview .dz-details .dz-filename {
    white-space: normal;
}
</style>
 
     <div class="row">
        <div class="col-md-12">

            <!-- Horizontal form -->
            <div class="card border-dark">
                <div class="card-header bg-dark text-white header-elements-inline">
                    <h5 class="card-title">Add New Product</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <form action="{{ url_for('addItem') }}" method="post" class="dropzone" id="frm-drop-zone" enctype="multipart/form-data">
                                   </form>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-9">                            
                            <div class="row" style="margin-top:20px;">
                                <div class="col-lg-9"></div>
                                <div class="col-lg-3">
                                    <label for="fileImport" class="btn btn-primary btn-block"><i class="icon-file-upload2 mr-2"></i>Choose file to import</label>                                    
                                    <input type="file" name="fileImport" id="fileImport" onchange="uploadFileImport('fileImport')" accept=".csv,.xls,.txt"  style="visibility:hidden;">
                                </div>
                            </div>
                            <form action="" method="post" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-lg-12">
                                        {{form.product.label}}
                                        {{form.product(class="form-control",placeholder="Lego Set")}}
                                        {% for error in form.product.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row" style='margin-top:20px;'>
                                    <div class="col-lg-8">
                                        <label for="sku">SKU</label>
                                        <input type="text" class="form-control" id="sku" name="sku" placeholder="aXl9023-x23ak22-32qaL3">
                                        {% for error in form.sku.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="Category">Group</label>         
                                        {{form.category(class="form-control form-control-lg")}}
                                        {% for error in form.category.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div> <!-- END ROW -->
                                <div class="row" style="margin-top:30px;">
                                    <div class="col-lg-4">
                                        <label for="price">Price</label>
                                        <input type="number" class="form-control" id="price" name="price" placeholder="32.00">
                                        {% for error in form.price.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-4" style="">
                                        <label for="currency">Currency</label>
                                        {{form.currency(class="form-control form-control-lg")}}
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="SubGroup">Sub Group</label>         
                                        {{form.subgroup(class="form-control form-control-lg")}}
                                        {% for error in form.subgroup.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div> <!-- END ROW -->

                                <div class="row" style="margin-top:20px;">
                                    <div class="col-lg-12">
                                        <div id="dvAttr">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <label for="attr0">Attribute</label>
                                                    <input type="text" class="form-control" id="attr0" name="attr0" placeholder="eg:color">
                                                </div>
                                                <div class="col-lg-5">
                                                    <label for="options0">Options</label>
                                                    <input type="text" class="form-control" id="options0" name="options0" data-role="tagsinput" placeholder="">
                                                </div>
                                                <div class="col-lg-3" style="margin-top: 25px;">
                                                    <button type="button" id="btnAddAttr" class="btn btn-link">+Add more attribute</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- END ROW -->

                                <div class="row" style="margin-top: 30px;">
                                    <div class="col-lg-4">
                                        <label for="vendor">Vendor</label>
                                        {{form.vendor(class="form-control form-control-lg")}}
                                        {% for error in form.vendor.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="col-lg-8">
                                        <label for="url">URL</label>
                                        <input type="text" class="form-control" id="url" name="url" placeholder="www.amazon.com">
                                        {% for error in form.url.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div> <!-- END ROW -->
                                <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                                    <div class="col-lg-10"></div>
                                    <div class="col-lg-2">
                                        <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-left rounded-round"><b><i class="icon-cloud-check2"></i></b>Create</button>
                                        <!--{{form.submit()}}-->
                                    </div>
                                </div> <!-- END ROW -->
                            </form> <!-- END FORM -->

                        </div>
                    </div>
                </div>
            </div>
            <!-- /horizotal form -->

        </div>

    </div>


{% endblock %}
