{% extends 'base.html' %}

{% block body %}

<div class="col-lg-3">
    <h2 style="text-align: left">Add New Product</h2>
    <div class="row">
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row" style="margin-top:20px;">
            <label for="product">Product Name</label>
            <input type="text" class="form-control" id="product" name="product" placeholder="Lego Set">
            {% for error in form.product.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="row" style='margin-top:30px;'>
            <div class="col-lg-5" style="padding:0;">
                <label for="category">Category</label>
                <select name="category" class="form-control form-control-lg">
                    <option value="{{form.category}}"></option>
                </select>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6" style="padding:0;">
                <label for="sku">SKU</label>
                <input type="text" class="form-control" id="sku" name="sku" placeholder="aXl9023-x23ak22-32qaL3">
                {% for error in form.sku.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div> <!-- END ROW -->
        <div class="row" style="margin-top:30px;">
            <div class="col-lg-4" style="padding:0;">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="$32.00">
                {% for error in form.price.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col-lg-4" style="">
                <label for="currency">Currency</label>
                <select name="currency" class="form-control form-control-lg">
                    <option value="{{ form.currency }}"></option>
                </select>
            </div>
            <div class="col-lg-4" style="padding:0;">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity" placeholder="4">
                {% for error in form.quantity.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div> <!-- END ROW -->
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-12">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" id="tags" name="tags" placeholder="Lego Set">
                {% for error in form.tags.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div> <!-- END ROW -->
        <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
            <div class="col-lg-10"></div>
            <div class="col-lg-2">
                {{form.submit()}}
            </div>
        </div> <!-- END ROW -->
    </form> <!-- END FORM -->
</div>

{% endblock %}
