 <!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="business intelligence bi fake data generator">
    <meta name="author" content="johnathan stevens">
    <meta name="google-signin-client_id" content="153400489042-hgo37urlslkd1ddlj05nil8pbdpnse8m.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--XLZ <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="../static/vendor/dropzone/dropzone.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../static/vendor/font-awesome/5.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/vendor/css/style.css" rel="stylesheet" type="text/css">
    <link href="../static/vendor/font-awesome/5.1/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../static/vendor/css/tagsinput.css" rel="stylesheet" type="text/css">

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="../static/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="../static/assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

    <!-- Title Page -->
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Web Page</title>
    {% endif %}
</head>

<!-- Container -->
<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand wmin-0 mr-5">
			<a href="{{url_for('home')}}" class="d-inline-block">
				<img src="../static/global_assets/images/logo.png" alt="">
			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			<span class="badge bg-success-400 badge-pill ml-md-3 mr-md-auto"></span>

			<ul class="navbar-nav ml-md-auto">
				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
						<img src="../static/global_assets/images/lang/gb.png" class="img-flag mr-2" alt="">
						English
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item english"><img src="../static/global_assets/images/lang/gb.png" class="img-flag" alt=""> English</a>
						<a href="#" class="dropdown-item ukrainian"><img src="../static/global_assets/images/lang/ua.png" class="img-flag" alt=""> Українська</a>
						<a href="#" class="dropdown-item deutsch"><img src="../static/global_assets/images/lang/de.png" class="img-flag" alt=""> Deutsch</a>
						<a href="#" class="dropdown-item espana"><img src="../static/global_assets/images/lang/es.png" class="img-flag" alt=""> España</a>
						<a href="#" class="dropdown-item russian"><img src="../static/global_assets/images/lang/ru.png" class="img-flag" alt=""> Русский</a>
					</div>
				</li>

				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
						<img src="../static/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">
						<span>{{uname}}</span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
						<a href="{{url_for('logout')}}" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Secondary navbar -->
	<div class="navbar navbar-expand-md navbar-light">
		<div class="text-center d-md-none w-100">
			<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-navigation">
				<i class="icon-unfold mr-2"></i>
				Navigation
			</button>
		</div>

		<div class="navbar-collapse collapse" id="navbar-navigation">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="{{url_for('home')}}" class="navbar-nav-link {% if breadCrumb == 'Dashboard' %}active{% endif %}">
						<i class="icon-home4 mr-2"></i>
						Dashboard
					</a>
				</li>

				<li class="nav-item nav-item-levels mega-menu-full">
					<a href="{{url_for('queue')}}" class="navbar-nav-link {% if breadCrumb == 'Queue' %}active{% endif %}">
						<i class="icon-versions mr-2"></i>
						Queue
					</a>
				</li>

			</ul>

			<ul class="navbar-nav ml-md-auto">
				<li class="nav-item dropdown">
					<a href="{{url_for('reports')}}" class="navbar-nav-link dropdown-toggle {% if breadCrumb == 'Reports' %}active{% endif %}" data-toggle="dropdown">
						<i class="icon-book mr-2"></i>
						Reports
					</a>

					<div class="dropdown-menu dropdown-menu-right dropdown-content">
						<a href="{{url_for('reports')}}" class="dropdown-item"><i class="icon-lan"></i> Routes</a>
						<a href="#" class="dropdown-item"><i class="icon-share2"></i> File Exports</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a href="{{url_for('products')}}" class="navbar-nav-link dropdown-toggle {% if breadCrumb == 'Products' %}active{% endif %}" data-toggle="dropdown">
						<i class="icon-basket mr-2"></i>
						Products
					</a>

					<div class="dropdown-menu dropdown-menu-right dropdown-content">
						<a href="{{url_for('products')}}" class="dropdown-item"><i class="icon-store"></i> Inventory</a>
						<a href="{{url_for('groups')}}" class="dropdown-item"><i class="icon-make-group"></i> Groups</a>
						<a href="{{url_for('vendor')}}" class="dropdown-item"><i class="icon-truck"></i> Vendor</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a href="{{url_for('orders')}}" class="navbar-nav-link dropdown-toggle {% if breadCrumb == 'Orders' %}active{% endif %}" data-toggle="dropdown">
						<i class="icon-paste2 mr-2"></i>
						Orders
					</a>

					<div class="dropdown-menu dropdown-menu-right dropdown-content">
						<a href="{{url_for('orders')}}" class="dropdown-item"><i class="icon-pen-plus"></i> Current Orders</a>
						<a href="{{url_for('purchase')}}" class="dropdown-item"><i class="icon-pencil7"></i> Purchase Order</a>
						<a href="{{url_for('bills')}}" class="dropdown-item"><i class="icon-coins"></i> Billing</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a href="{{url_for('shipping')}}" class="navbar-nav-link dropdown-toggle {% if breadCrumb == 'Shipping' %}active{% endif %}" data-toggle="dropdown">
						<i class="icon-fold mr-2"></i>
						Shipping
					</a>

					<div class="dropdown-menu dropdown-menu-right dropdown-content">
						<a href="{{url_for('shipping')}}" class="dropdown-item"><i class="icon-collaboration"></i>Shipping</a>
						<a href="{{url_for('contacts')}}" class="dropdown-item"><i class="icon-phone"></i> Contacts</a>
					</div>
				</li>


				<!--
				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
						<i class="icon-cog3"></i>
						<span class="d-md-none ml-2">Settings</span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
						<a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
						<a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
					</div>
				</li>
				-->

				<a href="{{url_for('logout')}}" class="navbar-nav-link">
					<i class="icon-switch2 mr-2"></i>
					Logout
				</a>
			</ul>
		</div>
	</div>
	<!-- /secondary navbar -->


	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content header-elements-md-inline">
			<div class="page-title d-flex">
				<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - {{breadCrumb}}</h4>
				<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
			</div>

			<div class="header-elements d-none py-0 mb-3 mb-md-0">
				<div class="breadcrumb">
					<a href="{{url_for('home')}}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
					<span class="breadcrumb-item active">{{breadCrumb}}</span>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->


    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Eloraus Inventory</p>
        </div>
    </div>

	<!-- Page content -->
	<div class="page-content pt-0">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">

                {% if messages %}
                    {% for message in messages %}
                        <b>{{message}}</b>
                    {% endfor %}
                {% endif %}

                {% block body %}{% endblock %}



			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->



	<!-- Footer -->
	<div class="navbar navbar-expand-lg navbar-light">
		<div class="text-center d-lg-none w-100">
			<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
				<i class="icon-unfold mr-2"></i>
				Footer
			</button>
		</div>

		<div class="navbar-collapse collapse" id="navbar-footer">
            {% block footer %}{% endblock %}
			<span class="navbar-text">
				&copy; 2015 - 2019. <a href="{{url_for('home')}}">Test Web App</a> by <a href="{{url_for('home')}}" target="_blank">Johnathan Stevens</a>
			</span>

			<ul class="navbar-nav ml-lg-auto">
				<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
			</ul>

			<!-- Core JS files -->
			<!-- <script src="../static/global_assets/js/main/jquery.min.js"></script> -->
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script src="../static/vendor/pagination/jquery.paginate.js"></script>
			<script src="../static/global_assets/js/main/bootstrap.bundle.min.js"></script>
			<script src="../static/global_assets/js/plugins/loaders/blockui.min.js"></script>
			<script src="../static/global_assets/js/plugins/ui/slinky.min.js"></script>
			<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <script src="../static/vendor/jquery-easing/jquery.easing.js"></script>
            <script src="../static/vendor/dropzone/dropzone.js"></script>
            <script src="../static/vendor/bootstrap/js/bootstrap.js"></script>
            <script src="https://unpkg.com/jspdf"></script>
            <script src="https://unpkg.com/jspdf-autotable"></script>
            
            <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
            <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>

            <script src="../static/vendor/js/tagsinput.js"></script>
			<!-- /core JS files -->

			<!-- Theme JS files -->
			<script src="../static/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
			<script src="../static/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
			<script src="../static/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
			<script src="../static/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
			<script src="../static/global_assets/js/plugins/ui/moment/moment.min.js"></script>
			<script src="../static/global_assets/js/plugins/pickers/daterangepicker.js"></script>

			<script src="../static/assets/js/app.js"></script>
			<script src="../static/global_assets/js/demo_pages/dashboard.js"></script>
			<!-- /theme JS files -->

			<script src="../static/vendor/js/apps.js"></script>
            
            
		</div>
	</div>
	<!-- /footer -->

    </body>
</html>
