{% extends 'base.html' %}

{% block body %}

<div class="row col-lg-12">
    <h2>Invoice</h2>
</div>
<div class="row col-lg-12">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="col-lg-4">
            <div class="row" style="margin-bottom: 30px">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
                <div class="row" style="margin-top: 20px">
                    <label for="datepick">Date</label>
                    <input type="text" class="form-control" id="datepick" name="currentDate" size="30">
                </div>
                <div class="row" style="margin-top: 20px">
                    <label for="deliveryDate">Payment Terms</label>
                    <input type="text" class="form-control" id="deliverypick" name="deliveryDate" size="30">
                </div>
                <div class="row" style="margin-top: 20px">
                    <h4>Balance</h4>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <table class ="table table-bordered" style="padding:10px;" id="tbPurchase">
                    <thead>
                        <tr>
                            <th>Item Details</th>
                            <th>League</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Tax</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody id="purchase-tbody">
                        <tr>
                            <td><input type="text" id="item_details" placeholder="Lego Set XR"></td>
                            <td><input type="text" id="league" placeholder="Silver +"></td>
                            <td><input type="number" id="quantity" placeholder="1"></td>
                            <td><input type="number" id="rate" placeholder="1.00"></td>
                            <td><input type="number" id="tax" placeholder="1%"></td>
                            <td><input type="number" id="amount" placeholder="$7.25"></td>
                            <td><button type="button" class="btn btn-primary add-row">Add</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> <!-- end row -->
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-6">
                <div class="col-lg-4">
                    <h5>Sub Total</h5>
                </div>
                <div class="col-lg-6">
                </div>
                <div class="col-lg-2">
                    <h5 id="tbTotal">0.00</h5>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div> <!-- end row -->
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-6">
                <div class="col-lg-4">
                    <h5>Discount</h5>
                </div>
                <div class="col-lg-6">
                    <input type="text" id="item_discount" placeholder="$0.00"></input>
                </div>
                <div class="col-lg-2">
                    <h5 id="tbDiscount">0.00</h5>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div> <!-- end row -->
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-6">
                <div class="col-lg-4">
                    <h5><b>Total</b></h5>
                </div>
                <div class="col-lg-6">
                </div>
                <div class="col-lg-2">
                    <h5 id="tbFinal">0.00</h5>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div> <!-- end row -->
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-4"></div>
            <div class="col-lg-6">
                <h5 style="text-color: red;">Notes</h5>
                <input type="text" class="form-control" id="notes"
                name="item_notes" style="height: 100px">
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row" style="margin-top: 25px;">
            <div class="col-lg-4"></div>
            <div class="col-lg-6">
                <h5 style="text-color: red;">Terms & Conditions</h5>
                <input type="text" class="form-control" id="terms"
                name="terms_notes" style="height: 100px">
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row" style="margin-top:20px; padding-bottom: 10px;">
            <div class="col-lg-4"></div>

            <div class="col-lg-2">
                <input type="button" class="btn btn-primary pull-right" id="export_to_pdf"
                style="" value="Export To PDF">
            </div>
            <div class="col-lg-2">
                <input type="button" class="btn btn-primary pull-right" id="export_to_excel"
                style="" value="Export To Excel">
            </div>
            <div class="col-lg-2">
                <input type="button" class="btn btn-primary pull-right" id="export_to_csv"
                style="" value="Export To CSV">
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row" style="margin-top:20px; padding-bottom: 10px;">
            <div class="col-lg-9"></div>
                <div class="col-lg-1">
                    <input type="button" class="btn btn-primary pull-right" id="submit"
                    style="" value="Submit">
                </div>
            <div class="col-lg-2"></div>
        </div>
    </form>
</div> <!-- end row -->

{% endblock %}
