{% extends 'base.html' %}

{% block body %}


<div class="row">
    <div class="col-xl-12">

        <!-- Traffic sources -->
        <div class="card border-dark">
            <div class="card-header bg-dark text-white header-elements-inline">
                <h6 class="card-title">Add Group</h6>
                <div class="header-elements">
                </div>
            </div>

            <div class="card-body py-0">
                <div class="d-flex m-b-10 no-block">
                  <form action="" method="post">
                      {{ form.hidden_tag() }}
                      <div class="row" style="margin-top:20px; padding: 0 15px 0 15px;">
                          <div class="col-lg-12">
                              {% for x in form.type %}
                                  {{x}}
                                  {{x.label}}
                                  &nbsp;&nbsp;&nbsp;
                              {% endfor %}
                              {% for error in form.type.errors %}
                                  <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>
                      </div>
                      <div class="row" style="margin-top:20px; padding: 0 15px 0 15px;">
                          <div class="col-lg-12">
                              {{form.name.label}}
                              {{form.name(class="form-control", placeholder="Silver")}}
                              {% for error in form.name.errors %}
                                  <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>
                      </div>
                      <div class="row" style="margin-top:20px; padding: 0 15px 0 15px;">
                          <div class="col-lg-12">
                              <label for="description">Description</label>
                              <input type="text" class="form-control" id="description" name="description">
                              {% for error in form.description.errors %}
                                  <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>
                      </div>
                      <div class="row" style="margin-top:20px; padding: 0 15px 0 15px;">
                          <div class="col-lg-6">
                              <label for="unit">Unit</label>
                              <input type="number" class="form-control" id="unit" name="unit" placeholder="3.0">
                              {% for error in form.unit.errors %}
                                  <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>
                          <div class="col-lg-6">
                              <label for="manufacturer">Manufacturer</label>
                              <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Amazon">
                              {% for error in form.manufacturer.errors %}
                                  <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>
                      </div>
                      <div class="row" style="margin-top:20px; padding: 0 15px 0 15px;">
                          <div class="col-lg-6">
                              <label for="tax">Tax</label>
                              <input type="number" class="form-control" id="tax" name="tax" placeholder="5%">
                              {% for error in form.tax.errors %}
                                  <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>
                          <div class="col-lg-6">
                              <label for="brand">Brand</label>
                              <input type="text" class="form-control" id="brand" name="brand" placeholder="ICV6">
                              {% for error in form.brand.errors %}
                                  <span style="color: red;">[{{ error }}]</span>
                              {% endfor %}
                          </div>
                      </div>
                      <div class="row" style="margin-top:20px; padding: 0 15px 0 15px;">
                        <div class="col-lg-6">
                            <label for="subgroup-title" style="margin-right: 20px;">Sub-Groups</label>
                            <input type="text" class="form-control" id="subgroup-title" name="subgroup-title" placeholder="title">
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-3" style="margin-top: 20px;">
                                <button type="button" id="btnAddSubgroup" class="btn btn-link">+Add sub group</button>
                            </div>
                        </div>
                      </div>
                      <div class="row" style="margin-left: 20px;" id="dvSubgroupList">
                      </div>
                      <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
                          <div class="col-lg-10"></div>
                          <div class="col-lg-2">
                            <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-left rounded-round"><b><i class="icon-plus-circle2"></i></b>Add Group</button>
                            <!--{{form.submit()}}-->
                          </div>
                      </div> <!-- END ROW -->
                  </form> <!-- END FORM -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
