{% extends 'base.html' %}

{% block body %}

    <div class="row">
        <div class="col-xl-12">

            <!-- Traffic sources -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h6 class="card-title">Groups</h6>
                    <div class="header-elements">
                        <div class="form-check form-check-right form-check-switchery form-check-switchery-sm">
                            <a href="{{url_for('groups_add')}}" class="btn waves-effect waves-light btn-rounded btn-primary" style="float: right;">Add Group</a>
                        </div>
                    </div>

                </div>

                <div class="card-body py-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-flex mb-12">
                                <div class="col-xl-4"><p>ID</p></div>
                                <div class="col-xl-2"><p>ITEM NAME</p></div>
                                <div class="col-xl-2"><p>CATEGORY TYPE</p></div>
                                <div class="col-xl-1"><h8>TOTAL ITEMS</h8></div>
                                <div class="col-xl-1"></div>
                            </div>
                        </div>

                    </div>
                    {% for item in groups %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-flex mb-12">
                                <div class="col-xl-4">
                                    <p>{{item.id}}</p>
                                </div>
                                <div class="col-xl-2">
                                    <a href="{{url_for('groups_list', name=item.name)}}">{{item.name}}</a>
                                </div>
                                <div class="col-xl-2">
                                    <h5 class="grp-list">{{item.type}}</h5>
                                </div>
                                <div class="col-xl-1">
                                    <h5>{{item.total}}</h5>
                                </div>
                                <div class="col-xl-1"></div>

                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>

            </div>
            <!-- /traffic sources -->

        </div>

    </div>



{% endblock %}
