{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex m-b-10 no-block">
                    <div class="row" style="height: 100px;">
                        <div class="col-lg-10">
                            <h2>Groups</h2>
                        </div>
                        <div class="col-lg-2" style="margin-top: 10px;">
                            <button type="button" class="btn btn-primary">Add Group</button>
                        </div>
                    </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                  <th>Name</th>
                                  <th></th>
                                  <th>Items</th>
                                  <th>League</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John</td>
                                    <td></td>
                                    <td>10</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>Mary</td>
                                    <td></td>
                                    <td>12</td>
                                    <td>Gold</td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td></td>
                                    <td>34</td>
                                    <td>Gold</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
