{% extends 'store-base.html' %}

{% block body %}

    <!-- end header -->

  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container"> <a href="{{url_for('store')}}">Home</a> <span class="separator"><i class="iconfont pe-7s-angle-right"></i></span><a href="{{url_for('games', page=1)}}"> <span>Games</span></a> <span class="separator"><i class="iconfont pe-7s-angle-right"></i></span> <span>{{product.product}}</span></div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- Main Container -->
  <section class="main-container bar bar--xs">
    <div class="container">
      <div class="row">
        <div class="goods-list-box">
          <ul class="products-grid">
            <li class="item col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="item-inner">
                <div class="item-img">
                  <div class="mgk-pro-hover"> <span class="sale-new-label top-right"><span class="labelsale">Sale</span></span>
                      <a href="#" title="{{product.product}}" class="product-image"> 
                        {% if product.images == '' %}
                          <img class="img-responsive" src="../static/products-images/product-img1.jpg" alt="{{product.product}}"> 
                        {% else %}
                          <img class="img-responsive" style="object-fit: contain;" src="{{product.images}}" alt="{{product.product}}"> 
                        {% endif %}
                      </a>
                    </div>
                  <div class="item-title"> 
                    <h3>{{product.product}}</h3> 
                    <p>SKU: {{product.sku}}</p>
                  </div>
                  <div class="quick-view"> <a title="Quick View" href="#" class="link-quickview"><i class="icons pe-7s-search"></i> </a> </div>
                </div>
                <div class="item-info">
                  <div class="info-inner">
                    <div class="actions">
                      <div class="item-price">
                        <div class="price-box">
                          <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $167.00 </span> </p>
                          <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> ${{product.price}} </span> </p>
                        </div>
                      </div>
                      <div class="actions-cart">
                        <a data-id="{{product.id}}" data-name="{{product.product}}" data-image="{{product.images}}" data-price="{{product.price}}" title="Add to Cart" class="button btn-cart"></a>
                      </div>
                      <ul class="add-to-links">
                        <li class="pull-right-no pull-compare"><span class="separator">|</span> <a href="#" title="Compare" class="link-compare"><i class="fa fa-retweet"></i>Compare</a></li>
                        <li class="pull-left-no pull-wishlist"><a href="#" title="Wishlist" class="link-wishlist"><i class="fa fa-heart-o"></i>Wishlist</a></li>
                      </ul>
                    </div>
                    
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Main Container End -->

  <section class="brand-logo wow bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="section-heading">
          <h2 class="section-title">TOP BRANDS</h2>
        </div>
        <div class="slider-items-products">
          <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col6">

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo3.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo2.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo1.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo4.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo5.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo6.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo1.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo4.png" alt="Image"></a> </div>
              <!-- End Item -->

            </div>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

{% endblock %}
