{% extends 'store-base.html' %}

{% block body %}

    <!-- end header -->

  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container"> <a href="{{url_for('store')}}">Home</a> <span class="separator"><i class="iconfont pe-7s-angle-right"></i></span><a href="{{url_for('games', page=1)}}"> <span>Games</span></a> <span class="separator"><i class="iconfont pe-7s-angle-right"></i></span> <span>{{product.product}}</span></div>
  </div>
  <!-- Breadcrumbs End -->

  <!-- Main Container -->
  <section class="main-container bar bar--xs">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" style="background: white; height: 500px; padding: 20px;">
          {% if product.images == '' %}
            <img class="img-responsive" src="../static/products-images/product-img1.jpg" style="width: 100%;" alt="{{product.product}}"> 
          {% else %}
            <img class="img-responsive" style="width: 100%; object-fit: contain;" src="{{product.images}}" alt="{{product.product}}"> 
          {% endif %}
        </div>
        <div class="col-lg-6" style="background: white; height: 500px; padding: 20px;">
          <h2>{{product.product}}</h2> 
          <p>SKU: {{product.sku}}</p>
          <div class="price-box">
            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price" style="font-size: 23px;"> $167.00 </span> </p>
            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" style="font-size: 45px; color: #e07;"> ${{product.price}} </span> </p>
          </div>
          <div class="actions-cart" style="margin-top: 30px;">
            <a data-id="{{product.id}}" data-name="{{product.product}}" data-image="{{product.images}}" data-price="{{product.price}}" title="Add to Cart" class="button btn-cart" style="padding: 10px; font-size: 30px; margin-top: 30px; cursor: pointer;"><span >Add to cart</span></a>
          </div>
        </div>
        <div class="col-lg-2" style="background: white; height: 500px; padding: 20px;">
          
        </div>
      </div>
    </div>
  </section>
  <!-- Main Container End -->

  <section class="brand-logo wow bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="section-heading">
          <h2 class="section-title">TOP BRANDS</h2>
        </div>
        <div class="slider-items-products">
          <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col6">

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo3.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo2.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo1.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo4.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo5.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo6.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo1.png" alt="Image"></a> </div>
              <!-- End Item -->

              <!-- Item -->
              <div class="item"><a href="#"><img src="../static/images/b-logo4.png" alt="Image"></a> </div>
              <!-- End Item -->

            </div>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

{% endblock %}
