{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-lg-12 col-md-12" style="height:800px">
          <h3 class="card-title m-b-0 align-self-center">Queue List</h3>
            <div class="card-body">
                <div class="d-flex m-b-10 no-block">
                    <div class="ml-auto text-light-blue">
					              <ul class="nav nav-tabs customtab default-customtab list-inline text-uppercase lp-5 font-medium font-12" style="float:right;" role="tablist">
						            </ul>
                    </div>
                    {% for x in queue %}
                        <div class="site-block" style="margin-bottom: 10px">
                            <div class="row">
                                <div class="col-lg-1">
                                    <h5><u>ID</u></h5>
                                    <div id="order_id">{{x.order_id}}</div>
                                </div>
                                <div class="col-lg-1">
                                    <h5><u>Player</u></h5>
                                    {{x.player_id}}
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-1">
                                    <h5><u>Item</u></h5>
                                    {{x.item_id}}
                                </div>
                                <div class="col-lg-1">
                                    <h5><u>Quantity</u></h5>
                                    <div id="order_quantity">{{x.quantity}}</div>
                                </div>
                                <div class="col-lg-1">
                                    <h5><u>Type</u></h5>
                                    {{x.type}}
                                </div>
                                <div class="col-lg-1">
                                    <h5><u>Price</u></h5>
                                    {{x.price}}
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-2" style="margin-top: 40px; padding:0px;">
                                    <button class="btn btn-primary que-app">Approve</button>
                                    <button class="btn btn-primary que-dis">Disapprove</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
		        </div>
        </div>
    </div>
</div>

{% endblock %}
