{% extends 'base.html' %}

{% block body %}

    {% for x in queue %}
    <div class="row">
        <div class="col-xl-12">
            <!-- Traffic sources -->
            <div class="panel panel-flat">
                <div class="panel-body py-0">
                    <div class="row panel panel">
                        <div class="col-sm-12">
                            <div class="d-flex justify-content-center">
                                <div class="col-xl-3">
                                    <h5><u>ID</u></h5>
                                    <div id="order_id">{{x.order_id}}</div>
                                </div>
                                <div class="col-xl-2">
                                    <h5><u>Player</u></h5>
                                    {{x.player_id}}
                                </div>
                                <div class="col-xl-2">
                                    <h5><u>Item</u></h5>
                                    {{x.item_id}}
                                </div>
                                <div class="col-xl-1">
                                    <h5><u>Quantity</u></h5>
                                    <div id="order_quantity">{{x.quantity}}</div>
                                </div>
                                <div class="col-xl-1">
                                    <h5><u>Type</u></h5>
                                    {{x.type}}
                                </div>
                                <div class="col-xl-1">
                                    <h5><u>Price</u></h5>
                                    {{x.price}}
                                </div>
                                <div class="col-xl-2" style="margin-top: 20px; padding:0px;">
                                    <div class="row">
                                        <button class="btn btn-secondary que-app">Approve</button>
                                        <button style="margin-left: 5px;" class="btn btn-secondary que-dis">Disapprove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
