{% extends 'base.html' %}

{% block body %}

<div class="col-lg-12">
    <div class="row">
        <h2>Reports</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <h4>Inventory</h4>
        <ul>
            <li><a href="{{url_for('inventory_purchases')}}">Active Purchase Orders Report</a></li>
            <li><a href="{{url_for('inventory_sales')}}">Product Sales Report</a></li>
            <li><a href="{{url_for('inventory_details')}}">Inventory Details</a></li>
            <li><a href="{{url_for('inventory_valuation')}}">Inventory Valuation Summary</a></li>
            <li><a href="{{url_for('inventory_fifo')}}">FIFO Cost Lot Tracking</a></li>
        </ul>
    </div>
    <div class="col-lg-5">
        <h4>Sales</h4>
        <ul>
            <li><a href="{{url_for('sales_invoice')}}">Invoice History</a></li>
            <li><a href="{{url_for('sales_payments')}}">Payments Received</a></li>
            <li><a href="{{url_for('sales_orders')}}">Sale Orders</a></li>
            <li><a href="{{url_for('sales_packing')}}">Sales Packing</a></li>
            <li><a href="{{url_for('sales_item')}}">Sales Item</a></li>
            <li><a href="{{url_for('sales_customers')}}">Sales by Customer</a></li>
            <li><a href="{{url_for('salesman')}}">Sales by Salesman</a></li>
            <li><a href="{{url_for('sales_balance')}}">Customer Balance</a></li>
        </ul>
    </div>
    <div class="col-lg-2 exports" style="border: 1px solid #eee;">
        <h4>Exports</h4>
        <button type="button" class="btn btn-primary btn-sm">CSV Exports</button>
        <button type="button" class="btn btn-primary btn-sm">EXCEL Exports</button>
        <button type="button" class="btn btn-primary btn-sm">DOC Exports</button>
        <button type="button" class="btn btn-primary btn-sm">PDF Exports</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <h4>Purchases</h4>
        <ul>
            <li><a href="{{url_for('purchases_orders')}}">Purchase Order History</a></li>
            <li><a href="{{url_for('purchases_receivable')}}">Purchase Receivable</a></li>
            <li><a href="{{url_for('purchases_vendors')}}">Purchases by Vendor</a></li>
            <li><a href="{{url_for('purchases_items')}}">Purchases by Items</a></li>
            <li><a href="{{url_for('purchases_bills')}}">Bill Details</a></li>
            <li><a href="{{url_for('purchases_payments')}}">Payments Made</a></li>
            <li><a href="{{url_for('purchases_balance')}}">Vendor Balance</a></li>
        </ul>
    </div>
    <div class="col-lg-5">
        <h4>Activity</h4>
        <ul>
            <li><a href="{{url_for('activity_mail')}}">System Mail</a></li>
            <li><a href="{{url_for('activity_log')}}">Activity Logs</a></li>
        </ul>
    </div>
    <div class="col-lg-2">
    </div>
</div>

{% endblock %}
