{% extends 'base.html' %}

{% block body %}

    <div class="row">
        <div class="col-xl-12">

            <!-- Traffic sources -->
            <div class="card border-dark">
                <div class="card-header bg-dark text-white header-elements-inline">
                    <h6 class="card-title">Reports</h6>
                </div>

                <div class="card-body py-0">

                    <div class="row mt-2">
                        <div class="col-xl-5">

                            <!-- Traffic sources -->
                            <div class="card border-secondary">
                                <div class="card-header bg-secondary text-white header-elements-inline">
                                    <h6 class="card-title">Inventory</h6>
                                </div>

                                <div class="card-body py-0">
                                    <div class="row mt-2">
                                        <div class="col-sm-12">
                                            <div class="d-flex mb-2">
                                                <ul>
                                                    <li><a href="{{url_for('inventory_purchases')}}">Active Purchase Orders Report</a></li>
                                                    <li><a href="{{url_for('inventory_sales')}}">Product Sales Report</a></li>
                                                    <li><a href="{{url_for('inventory_details')}}">Inventory Details</a></li>
                                                    <li><a href="{{url_for('inventory_valuation')}}">Inventory Valuation Summary</a></li>
                                                    <li><a href="{{url_for('inventory_fifo')}}">FIFO Cost Lot Tracking</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /traffic sources -->

                        </div>

                        <div class="col-xl-5">

                            <!-- Sales stats -->
                            <div class="card border-secondary">
                                <div class="card-header bg-secondary text-white header-elements-inline">
                                    <h6 class="card-title">Sales</h6>
                                </div>

                                <div class="card-body py-0">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <div class="mb-12">
                                                <ul>
                                                    <li><a href="{{url_for('sales_invoice')}}">Invoice History</a></li>
                                                    <li><a href="{{url_for('sales_payments')}}">Payments Received</a></li>
                                                    <li><a href="{{url_for('sales_orders')}}">Sale Orders</a></li>
                                                    <li><a href="{{url_for('sales_packing')}}">Sales Packing</a></li>
                                                    <li><a href="{{url_for('sales_item')}}">Sales Item</a></li>
                                                    <li><a href="{{url_for('sales_customers')}}">Sales by Customer</a></li>
                                                    <li><a href="{{url_for('salesman')}}">Sales by Salesman</a></li>
                                                    <li><a href="{{url_for('sales_balance')}}">Customer Balance</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /sales stats -->

                        </div>

                        <div class="col-xl-2">

                            <!-- Sales stats -->
                            <div class="card border-secondary">
                                <div class="card-header bg-secondary text-white header-elements-inline">
                                    <h6 class="card-title">Exports</h6>
                                </div>

                                <div class="card-body py-0">
                                    <div class="row mt-2" style="margin-left: 30px;">
                                        <div class="col-12">
                                            <div class="mb-12">
                                                <div class="row">
                                                    <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left mr-3" style="width: 140px;"><b><i class="icon-share2"></i></b>CSV Exports</button>
                                                </div>
                                                <div class="row" style="margin-top: 5px;">
                                                    <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left mr-3" style="width: 140px;"><b><i class="icon-share2"></i></b>EXCEL Exports</button>
                                                </div>
                                                <div class="row" style="margin-top: 5px;">
                                                    <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left mr-3" style="width: 140px;"><b><i class="icon-share2"></i></b>DOC Exports</button>
                                                </div>
                                                <div class="row" style="margin-top: 5px; margin-bottom: 20px;">
                                                    <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-left mr-3" style="width: 140px;"><b><i class="icon-share2"></i></b>PDF Exports</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /sales stats -->

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-5">

                            <!-- Traffic sources -->
                            <div class="card border-secondary">
                                <div class="card-header bg-secondary text-white header-elements-inline">
                                    <h6 class="card-title">Purchases</h6>
                                </div>

                                <div class="card-body py-0">
                                    <div class="row mt-2">
                                        <div class="col-sm-12">
                                            <div class="d-flex mb-2">
                                                <ul>
                                                    <li><a href="{{url_for('purchases_orders')}}">Purchase Order History</a></li>
                                                    <li><a href="{{url_for('purchases_receivable')}}">Purchase Receivable</a></li>
                                                    <li><a href="{{url_for('purchases_vendors')}}">Purchases by Vendor</a></li>
                                                    <li><a href="{{url_for('purchases_items')}}">Purchases by Items</a></li>
                                                    <li><a href="{{url_for('purchases_bills')}}">Bill Details</a></li>
                                                    <li><a href="{{url_for('purchases_payments')}}">Payments Made</a></li>
                                                    <li><a href="{{url_for('purchases_balance')}}">Vendor Balance</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /traffic sources -->

                        </div>

                        <div class="col-xl-5">

                            <!-- Sales stats -->
                            <div class="card border-secondary">
                                <div class="card-header bg-secondary text-white header-elements-inline">
                                    <h6 class="card-title">Activity</h6>
                                </div>

                                <div class="card-body py-0">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <div class="mb-12">
                                                <ul>
                                                    <li><a href="{{url_for('activity_mail')}}">System Mail</a></li>
                                                    <li><a href="{{url_for('activity_log')}}">Activity Logs</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /sales stats -->

                        </div>

                        <div class="col-xl-2">
                        </div>
                    </div>


                </div>

            </div>
            <!-- /traffic sources -->

        </div>

    </div>

{% endblock %}
