{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-4">
        <h4>Sales Payments</h4>
        <p>From 01 Jan 2019 To 31 Jan 2019</p>
    </div>
    <div class="col-lg-3"></div>
</div>
<div class="row report-block" style="background-color:#eeeeee">
    <div class="col-lg-1"><p>FIFO</p></div>
    <div class="col-lg-1"><p>SKU</p></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-1"><h8>MARGIN</h8></div>
    <div class="col-lg-1"></div>
    <div class="col-lg-1"><h8>QTY SOLD</h8></div>
    <div class="col-lg-1"></div>
    <div class="col-lg-1"><h8>TOTAL SALES</h8></div>
    <div class="col-lg-1"></div>
    <div class="col-lg-1"><h8>SALES PRICE</h8></div>
</div>
<div class="row" style="height:800px">
    <div class="col-lg-5"></div>
    <div class="col-lg-4">
        <p>No Data To Display</p>
    </div>
    <div class="col-lg-3"></div>
</div>

{% endblock %}
