{% extends 'base.html' %}

{% block body %}

<script>
// onload send ajax call to the middleware to get all shipping statuses
</script>

<div class="row col-lg-12">
    <h2>Shipping</h2>
</div>
<div class="col-lg-4">
    <div class="row" style="background-color: #D9F3F9; border: 1px solid black">
        <h3>Awaiting Shipping</h3>
    </div>
    <div class="row" id="shipping-awaiting-items" style="background-color: #F9F9F9; border: 1px solid black; height: 800px">
        {% for k, v in orders.items() %}
            {% if v['shipped'] == 'awaiting' %}
                <div class="ship-card">
                    <h4>Item ID:</h4><b>{{k}}</b>
                    <h4>Quantity:</h4><b>{{v['qty']}}</b>
                </div>
            {% endif %}
        {% endfor %}

    </div>

    <div id="shipping-awaiting-items-pagination" style="display:none;">
        <a id="shipping-awaiting-items-previous" class="paginate-prev" href="#">&laquo; Previous</a>
        <a id="shipping-awaiting-items-next" class="paginate-next" href="#">Next &raquo;</a>
    </div>


</div>

<div class="col-lg-4">
    <div class="row" style="background-color: #FAF8CA; border: 1px solid black">
        <h3>Shipped Packages</h3>
    </div>
    <div class="row" id="shipping-shipped-items" style="background-color: #F9F9F9; border: 1px solid black; height: 800px">
        {% for k, v in orders.items() %}
            {% if v['shipped'] == 'shipped' %}
                <div class="ship-card">
                    <h4>Item ID:</h4><b>{{k}}</b>
                    <h4>Quantity:</h4><b>{{v['qty']}}</b>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div id="shipping-shipped-items-pagination" style="display:none;">
        <a id="shipping-shipped-items-previous" class="paginate-prev" href="#">&laquo; Previous</a>
        <a id="shipping-shipped-items-next" class="paginate-next" href="#">Next &raquo;</a>
    </div>

</div>

<div class="col-lg-4">
    <div class="row" style="background-color: #D4F1B4; border: 1px solid black">
        <h3>Delivered Packages</h3>
    </div>
    <div class="row" id="shipping-delivered-items" style="background-color: #F9F9F9; border: 1px solid black; height: 800px">
        {% for k, v in orders.items() %}
            {% if v['shipped'] == 'delivered' %}
                <div class="ship-card">
                    <h4>Item ID:</h4><b>{{k}}</b>
                    <h4>Quantity:</h4><b>{{v['qty']}}</b>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div id="shipping-delivered-items-pagination" style="display:none;">
        <a id="shipping-delivered-items-previous" class="paginate-prev" href="#">&laquo; Previous</a>
        <a id="shipping-delivered-items-next" class="paginate-next" href="#">Next &raquo;</a>
    </div>

</div>

{% endblock %}
