<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Web Page</title>
    {% endif %}
	<link rel="icon" href="images/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Description Here">
    <link href="../static/store-css/socicon.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/store-css/iconsmind.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" href="../static/store-css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="../static/store-css/animate.min.css">
    <link rel="stylesheet" type="text/css"
          href="../static/store-css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="../static/store-css/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" type="text/css"
          href="../static/store-css/simple-line-icons.min.css"
          media="all">
    <link rel="stylesheet" type="text/css"
          href="../static/store-css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/store-css/revslider.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/store-css/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="../static/store-css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../static/store-css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="../static/store-css/jquery.mobile-menu.css">
    <link href="../static/store-css/theme.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/store-css/custom.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body class="home-index-2">
<div id="page">
    <!-- Header -->
    <header class="pixxett-header1">
        <div class="header-container">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-4 col-xs-12">
                            <div class="language-currency-wrapper">
                                <div class="inner-cl">
                                    <div class="block block-language form-language">
                                        <div class="lg-cur"><span> <img src="../static/images/flag-usa.png" alt="English"> <span
                                                class="lg-fr">English</span></span>
                                        </div>
                                    </div>
                                    <div class="block block-currency">
                                        <div class="item-cur"><span>Currency</span>&nbsp;$ <i
                                                class="fa fa-angle-down"></i>
                                        </div>
                                        <ul>
                                            <li><a href="javascript:setCurrency(1);" rel="nofollow" title="Dollar"> $
                                                Dollar </a></li>
                                            <li><a href="javascript:setCurrency(2);" rel="nofollow" title="Euros"> €
                                                Euros </a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- End Default Welcome Message -->
                            </div>
                        </div>

                        <!-- top links -->
                        <div class="toplinks col-lg-7 col-md-7 col-sm-8 col-xs-12 hidden-xs">
                            <div class="links">
                                <div class="login top-links-wrapper "><a class="top-link" href="{{url_for('login')}}"><span
                                        class="hidden-xs">Log In</span></a></div>
                                <!-- top cart -->
                                <div class="top-cart top-links-wrapper ">
                                    <div class="top-cart-contain">
                                        <div class="mini-cart">
                                            <div data-toggle="dropdown" data-hover="dropdown"
                                                 class="basket dropdown-toggle"><a class="top-link" href="#">
                                                <div class="shoppingcart-inner"><span class="cart-title"></span> <span
                                                        class="cart_count">2</span></div>
                                            </a></div>
                                            <div>
                                                <div class="top-cart-content">
                                                    <form action="{{url_for('checkout')}}" method="POST">
                                                        <input type="hidden" name="cart-data" id="cart-data" />
                                                        <div class="block-subtitle hidden-xs">Recently added item(s)</div>
                                                        <ul id="cart-sidebar" class="mini-products-list">
                                                        </ul>
                                                        <div class="top-subtotal">Subtotal: <span
                                                                class="price" id="cart-total-price">$0.00</span>
                                                        </div>
                                                        <div class="actions">
                                                            <button class="btn-checkout" type="submit" style="text-align: center;">
                                                                <i class="fa fa-check"></i><span>Checkout</span></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pixxett-search-block">
                                <form method="get" action="#" id="searchbox">
                                    <input autocomplete="off" class="search_query form-control ac_input"
                                           id="search_query_top" name="search_query" value="Search..." type="text">
                                    <button type="submit" name="submit_search" class="btn button-search"><span
                                            class="fa fa-search"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 logo-block">
                            <div class="logo" style="margin-top:20px;">
                                <a title="e-commerce" href="{{url_for('store')}}">
                                    <img alt="e-commerce" src="../static/images/logo.png">
                                </a>
                            </div>
                            <!-- Navbar -->

                            <div class="mm-toggle-wrap hidden-lg hidden-md">
                                <div class="mm-toggle"><i class="fa fa-bars"></i><span
                                        class="mm-label">Menu</span>
                                </div>
                            </div>
                            <div class="nav-inner">
                                <ul id="nav" class="hidden-xs">
                                  <li class="level0 nav-5 level-top first">
                                      <a href="{{url_for('games', page = 1)}}" class="level-top">
                                        <span>Games</span><b class="caret"></b>
                                      </a>
                                      <div class="level0-wrapper dropdown-6col">
                                          <div class="level0-wrapper2 container">
                                              <div class="nav-block nav-block-left grid12-8 itemgrid itemgrid-4col">
                                                  <ul class="level0">
                                                      {% for group in groups['GAMES'] %}
                                                      <li class="level1 nav-6-1 parent"><a href="games?gid={{group.id}}&page=1"><span>{{group.name}}</span></a>
                                                          <ul class="level2">
                                                            {% for subgroup in group.sub_group %}
                                                              <li class="level2 nav-2-1-1"><a href="games?gid={{group.id}}&subgroup={{subgroup}}&page=1"><span>{{subgroup}}</span></a></li>
                                                            {% endfor %}
                                                          </ul>
                                                      </li>
                                                      {% endfor %}
                                                  </ul>
                                                  <!--level0-->
                                              </div>
                                              <div class="nav-block nav-block-right std grid12-4">
                                                  <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img3.jpg"></a>
                                                  </div>
                                                  <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img.jpg"></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    </li> <!-- end Games -->
                                    <li class="level0 nav-5 level-top first">
                                        <a href="{{url_for('office', page = 1)}}"><span>Office</span><b class="caret"></b> </a>
                                        <div class="level0-wrapper dropdown-6col">
                                            <div class="level0-wrapper2 container">
                                                <div class="nav-block nav-block-left grid12-8 itemgrid itemgrid-4col">
                                                    <ul class="level0">
                                                        {% for group in groups['OFFICE'] %}
                                                        <li class="level1 nav-6-1 parent"><a href="games?gid={{group.id}}&page=1"><span>{{group.name}}</span></a>
                                                            <ul class="level2">
                                                                {% for subgroup in group.sub_group %}
                                                                <li class="level2 nav-2-1-1"><a href="games?gid={{group.id}}&subgroup={{subgroup}}&page=1"><span>{{subgroup}}</span></a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <!--level0-->
                                                </div>
                                                <div class="nav-block nav-block-right std grid12-4">
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img3.jpg"></a>
                                                    </div>
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img.jpg"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="level0 nav-5 level-top first">
                                        <a href="{{url_for('electronics', page = 1)}}" class="level-top"> <span>Electronics</span><b class="caret"></b> </a>
                                        <div class="level0-wrapper dropdown-6col">
                                            <div class="level0-wrapper2 container">
                                                <div class="nav-block nav-block-left grid12-8 itemgrid itemgrid-4col">
                                                    <ul class="level0">
                                                        {% for group in groups['ELECTRONICS'] %}
                                                        <li class="level1 nav-6-1 parent"><a href="games?gid={{group.id}}&page=1"><span>{{group.name}}</span></a>
                                                            <ul class="level2">
                                                                {% for subgroup in group.sub_group %}
                                                                <li class="level2 nav-2-1-1"><a href="games?gid={{group.id}}&subgroup={{subgroup}}&page=1"><span>{{subgroup}}</span></a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <!--level0-->
                                                </div>
                                                <div class="nav-block nav-block-right std grid12-4">
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img3.jpg"></a>
                                                    </div>
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img.jpg"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="level0 nav-5 level-top">
                                        <a href="{{url_for('gear', page = 1)}}" class="level-top">
                                            <span>Gear</span><b class="caret"></b> 
                                        </a>
                                        <div class="level0-wrapper dropdown-6col">
                                            <div class="level0-wrapper2 container">
                                                <div class="nav-block nav-block-left grid12-8 itemgrid itemgrid-4col">
                                                    <ul class="level0">
                                                        {% for group in groups['GEAR'] %}
                                                        <li class="level1 nav-6-1 parent"><a href="games?gid={{group.id}}&page=1"><span>{{group.name}}</span></a>
                                                            <ul class="level2">
                                                                {% for subgroup in group.sub_group %}
                                                                <li class="level2 nav-2-1-1"><a href="games?gid={{group.id}}&subgroup={{subgroup}}&page=1"><span>{{subgroup}}</span></a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <!--level0-->
                                                </div>
                                                <div class="nav-block nav-block-right std grid12-4">
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img3.jpg"></a>
                                                    </div>
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img.jpg"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="level0 nav-5 level-top">
                                        <a href="{{url_for('computers', page = 1)}}">
                                            <span>Computers<b class="caret"></b></span>
                                        </a>
                                        <div class="level0-wrapper dropdown-6col">
                                            <div class="level0-wrapper2 container">
                                                <div class="nav-block nav-block-left grid12-8 itemgrid itemgrid-4col">
                                                    <ul class="level0">
                                                        {% for group in groups['COMPUTERS'] %}
                                                        <li class="level1 nav-6-1 parent"><a href="games?gid={{group.id}}&page=1"><span>{{group.name}}</span></a>
                                                            <ul class="level2">
                                                                {% for subgroup in group.sub_group %}
                                                                <li class="level2 nav-2-1-1"><a href="games?gid={{group.id}}&subgroup={{subgroup}}&page=1"><span>{{subgroup}}</span></a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <!--level0-->
                                                </div>
                                                <div class="nav-block nav-block-right std grid12-4">
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img3.jpg"></a>
                                                    </div>
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img.jpg"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="level0 nav-5 level-top">
                                        <a class="level-top" href="{{url_for('toys', page = 1)}}"> 
                                            <span>Toys<b class="caret"></b></span> 
                                        </a>
                                        <div class="level0-wrapper dropdown-6col">
                                            <div class="level0-wrapper2 container">
                                                <div class="nav-block nav-block-left grid12-8 itemgrid itemgrid-4col">
                                                    <ul class="level0">
                                                        {% for group in groups['TOYS'] %}
                                                        <li class="level1 nav-6-1 parent"><a href="games?gid={{group.id}}&page=1"><span>{{group.name}}</span></a>
                                                            <ul class="level2">
                                                                {% for subgroup in group.sub_group %}
                                                                <li class="level2 nav-2-1-1"><a href="games?gid={{group.id}}&subgroup={{subgroup}}&page=1"><span>{{subgroup}}</span></a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <!--level0-->
                                                </div>
                                                <div class="nav-block nav-block-right std grid12-4">
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img3.jpg"></a>
                                                    </div>
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img.jpg"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="level0 nav-5 level-top">
                                        <a href="{{url_for('accessories', page = 1)}}" class="level-top">
                                            <span>Accessories</span><b class="caret"></b>
                                        </a>
                                        <div class="level0-wrapper dropdown-6col">
                                            <div class="level0-wrapper2 container">
                                                <div class="nav-block nav-block-left grid12-8 itemgrid itemgrid-4col">
                                                    <ul class="level0">
                                                        {% for group in groups['ACCESSORIES'] %}
                                                        <li class="level1 nav-6-1 parent"><a href="games?gid={{group.id}}&page=1"><span>{{group.name}}</span></a>
                                                            <ul class="level2">
                                                                {% for subgroup in group.sub_group %}
                                                                <li class="level2 nav-2-1-1"><a href="games?gid={{group.id}}&subgroup={{subgroup}}&page=1"><span>{{subgroup}}</span></a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                    <!--level0-->
                                                </div>
                                                <div class="nav-block nav-block-right std grid12-4">
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img3.jpg"></a>
                                                    </div>
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img.jpg"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="level0 nav-5 level-top">
                                        <a class="level-top" href="#"><span>Custom</span><b class="caret"></b> </a>
                                        <div class="level0-wrapper dropdown-6col">
                                            <div class="level0-wrapper2 container">
                                                <div class="nav-block nav-block-left grid12-8 itemgrid itemgrid-4col">
                                                    <ul class="level0">
                                                    </ul>
                                                    <!--level0-->
                                                </div>
                                                <div class="nav-block nav-block-right std grid12-4">
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img3.jpg"></a>
                                                    </div>
                                                    <div class="nav-add-img"><a href="#"><img alt="Sample Product" src="../static/images/nav-img.jpg"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- end nav -->
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <b>{{message}}</b>
            {% endfor %}
        {% endif %}
    {%  endwith %}
    {% block body %}{% endblock %}

<!-- mobile menu -->
<div id="mobile-menu" class="pixxett-header1">
    <ul>
        <li>
            <div class="mm-search">
                <form id="search1" name="search">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term"
                               id="srch-term">
                    </div>
                </form>
            </div>
        </li>
        <li><a href="#">Pages</a>
            <ul>
                <li><a href="index.html">Home</a>
                    <ul>
                        <li><a href="index.html">Home Full Width</a> </li>
                        <li><a href="index-boxed.html">Home Boxed</a> </li>
                    </ul>
                </li>
                <li><a href="grid.html">Grid</a>
                    <ul>
                        <li><a href="grid.html">Grid Without Sidebar</a> </li>
                        <li><a href="grid1.html">Grid left Sidebar</a> </li>
                        <li><a href="grid2.html">Grid Right Sidebar</a> </li>
                    </ul>
                </li>
                <li><a href="list.html">List</a></li>
                <li><a href="product_detail.html">Product Detail</a></li>
                <li><a href="aboutus.html">About Us</a>
                    <ul>
                        <li><a href="aboutus.html"><span>About Us</span></a> </li>
                        <li><a href="aboutus-left-sidebar.html"><span>About Us left Sidebar</span></a> </li>
                        <li><a href="aboutus-right-sidebar.html"><span>About Us Right Sidebar</span></a> </li>
                    </ul>
                </li>
                <li><a href="blog-articles-cards.html">Blog</a>
                    <ul>
                        <li><a href="blog-articles-cards.html"><span>Blog Grid View</span></a> </li>
                        <li><a href="blog-articles-cards-sidebar.html"><span>Blog Grid With Sidebar</span></a> </li>
                        <li><a href="blog-articles-list.html"><span>Blog List View</span></a> </li>
                        <li><a href="blog-articles-magazine.html"><span>Blog Articles Magazine</span></a> </li>
                        <li><a href="blog-post-single.html"><span>Single Blog Post</span></a> </li>
                        <li><a href="blog-post-image-single.html"><span>Single Blog With Image </span></a> </li>
                        <li><a href="blog-post-audio-single.html"><span>Single Blog With Audio </span></a> </li>
                        <li><a href="blog-post-video-single.html"><span>Single Blog With Video </span></a> </li>
                    </ul>
                </li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </li>

        <li><a href="grid1.html">Mobiles</a></li>
        <li><a href="grid.html">Appliances</a></li>
        <li><a href="grid.html">Computers</a>
            <ul>
                <li><a href="grid.html"><span>Category</span></a>
                    <ul>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                    </ul>
                </li>
                <li><a href="grid.html"><span>Category</span></a>
                    <ul>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                    </ul>
                </li>
                <li><a href="grid.html"><span>Category</span></a>
                    <ul>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="grid.html">Kitchen</a>
            <ul>
                <li><a href="grid.html"><span>Category</span></a>
                    <ul>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                    </ul>
                </li>
                <li><a href="grid.html"><span>Category</span></a>
                    <ul>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                    </ul>
                </li>
                <li><a href="grid.html"><span>Category</span></a>
                    <ul>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                    </ul>
                </li>
                <li><a href="grid.html"><span>Category</span></a>
                    <ul>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="grid.html">Accessories</a>
            <ul>
                <li><a href="grid.html"><span>Category</span></a>
                    <ul>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                    </ul>
                </li>
                <li><a href="grid.html"><span>Category</span></a>
                    <ul>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                    </ul>
                </li>
                <li><a href="grid.html"><span>Category</span></a>
                    <ul>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                    </ul>
                </li>
                <li><a href="grid.html"><span>Category</span></a>
                    <ul>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                        <li><a href="grid.html"><span>Sub Category</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="grid.html">Custom</a></li>
    </ul>
    <div class="top-links">
        <ul class="links">
            <li><a title="My Account" href="login.html">My Account</a></li>
            <li><a title="Wishlist" href="#">Wishlist</a></li>
            <li><a title="Checkout" href="#">Checkout</a></li>
            <li class="last"><a title="Login" href="login.html"><span>Login</span></a></li>
        </ul>
    </div>
</div>

<footer style="height:50px; background-color: black;">
</footer>

<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" id="toTop" href="javascript:void(0);" data-scroll-class="100vh:active"><i class="icon-Up-4"></i></a>

<!-- Scripts -->
<script src="../static/store-js/jquery-3.1.1.min.js"></script>
<script src="../static/store-js/parallax.js"></script>
<script src="../static/store-js/typed.min.js"></script>
<script src="../static/store-js/datepicker.js"></script>
<script src="../static/store-js/isotope.min.js"></script>
<script src="../static/store-js/ytplayer.min.js"></script>
<script src="../static/store-js/granim.min.js"></script>
<script src="../static/store-js/countdown.min.js"></script>
<script src="../static/store-js/smooth-scroll.min.js"></script>
<script src="../static/store-js/scripts.js"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="../static/store-js/bootstrap.min.js"></script>

<!-- main js -->
<script type="text/javascript" src="../static/store-js/common.js"></script>
<script type="text/javascript" src="../static/store-js/jquery.mobile-menu.min.js"></script>
<script type="text/javascript"
        src="../static/store-js/owl.carousel.min.js"></script>
<script type="text/javascript" src="../static/store-js/app.js"></script>
<script type="text/javascript" src="../static/store-js/revslider.js"></script>
<script type="text/javascript" src="../static/store-js/countdown.js"></script>
<script type="text/javascript" src="../static/store-js/jquery.bxslider.min.js"></script>
<script type="text/javascript">
    var dthen1 = new Date("12/25/17 11:59:00 PM");
    start = "08/04/15 03:02:11 AM";
    start_date = Date.parse(start);
    var dnow1 = new Date(start_date);
    if (CountStepper > 0)
        ddiff = new Date((dnow1) - (dthen1));
    else
        ddiff = new Date((dthen1) - (dnow1));
    gsecs1 = Math.floor(ddiff.valueOf() / 1000);

    var iid1 = "countbox_1";
    CountBack_slider(gsecs1, "countbox_1", 1);

    var dthen1 = new Date("05/25/17 11:59:00 PM");
    start = "08/04/15 03:02:11 AM";
    start_date = Date.parse(start);
    var dnow1 = new Date(start_date);
    if (CountStepper > 0)
        ddiff = new Date((dnow1) - (dthen1));
    else
        ddiff = new Date((dthen1) - (dnow1));
    gsecs1 = Math.floor(ddiff.valueOf() / 1000);

    var iid1 = "countbox_2";
    CountBack_slider(gsecs1, "countbox_2", 1);
</script>
<script type='text/javascript'>
    jQuery(document).ready(function () {
        jQuery('#rev_slider_4').show().revolution({
            dottedOverlay: 'none',
            delay: 5000,
            startwidth: 1140,
            startheight: 600,

            hideThumbs: 200,
            thumbWidth: 200,
            thumbHeight: 50,
            thumbAmount: 2,

            navigationType: 'thumb',
            navigationArrows: 'solo',
            navigationStyle: 'round',

            touchenabled: 'on',
            onHoverStop: 'on',

            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,

            spinner: 'spinner0',
            keyboardNavigation: 'off',

            navigationHAlign: 'center',
            navigationVAlign: 'bottom',
            navigationHOffset: 0,
            navigationVOffset: 20,

            soloArrowLeftHalign: 'left',
            soloArrowLeftValign: 'center',
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,

            soloArrowRightHalign: 'right',
            soloArrowRightValign: 'center',
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,

            shadow: 0,
            fullWidth: 'on',
            fullScreen: 'off',

            stopLoop: 'off',
            stopAfterLoops: -1,
            stopAtSlide: -1,

            shuffle: 'off',

            autoHeight: 'off',
            forceFullWidth: 'on',
            fullScreenAlignForce: 'off',
            minFullScreenHeight: 0,
            hideNavDelayOnMobile: 1500,

            hideThumbsOnMobile: 'off',
            hideBulletsOnMobile: 'off',
            hideArrowsOnMobile: 'off',
            hideThumbsUnderResolution: 0,

            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            fullScreenOffsetContainer: ''
        });
    });
</script>
</body>
</html>
