/*******************
Preloader
********************/
.preloader{
    width: 100%;
    height: 100%;
    top:0px;
	text-transform:uppercase;
    position: fixed;
    z-index: 99999;
    background: #fff;
    .cssload-speeding-wheel{
        position: absolute;
        top: calc(50% - 3.5px);
        left: calc(50% - 3.5px);
    }
}

.refresh-container .preloader{    width: 100%;
    height: 100%;
	background:none;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
	position:absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;}

.loader,
.loader__figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader {
  overflow: visible;
  padding-top: 2em;
  height: 0;
  width: 2em;
}

.loader__figure {
  height: 0;
  width: 0;
  box-sizing: border-box;
  border: 0 solid #1976d2;
  border-radius: 50%;
  -webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__label {
  float: left;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0.5em 0 0 50%;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: #1976d2;
  white-space: nowrap;
  -webkit-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #1976d2;
  }
  29% {
    background-color: #1976d2;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-moz-keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #1976d2;
  }
  29% {
    background-color: #1976d2;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #1976d2;
  }
  29% {
    background-color: #1976d2;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
@-moz-keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
/* END */

.ship-card {
      margin-top: 15px !important;
      margin-left: 10px;
      padding: 0 10px 0 10px;
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 20px);
      height: 150px;
      font-size: 14px;
      margin-top: 0;
      border: 1px solid #e1e1e1;
      border-radius: 4px;
      background-color: #fff!important;
      box-shadow: none;
}

.navbar {
    margin-bottom: 0;
}
.container {
    padding-right: 0;
    padding-left: 0;
    background-color: white;
}

.col-lg-12, .row {
    margin: 0;
    padding: 0;
}

.exports button {
    margin-bottom: 10px;
}

.purchase-item {
  padding: 37px 0 10px;
}

.report-block {
    font-size: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    background: #f9f9f9 !important;
    border: 1px solid #eee;
    font-weight: 400;
    position: relative;
    color: #000;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.purchase-block {
    border: 1px solid #DAE1E4;
    border-radius: 7px;
    padding: 15px 12px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
}

.salesorder-header{
    margin-right: 12px;
}

.salesorder-header {
    background-color: #F7F9FB;
}

.salesorder-item {
    padding: 100px 0 50px;
}

.salesorder-block {
    border: 1px solid #DAE1E4;
    border-radius: 7px;
    padding: 15px 12px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.inv-block p {
    margin-bottom: 15px;
    padding: 15px 18px 9px;
    height: 51px;
}

.label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
}

.inv-block {
    border: 1px solid #DAE1E4;
    border-radius: 7px;
    background-color: #fff;
    box-sizing: border-box;
    display: block;
}

.vendor-block {
    padding-top: 30px;
    margin-bottom: 20px;
    background: #f9f9f9 !important;
    border: 1px solid #eee;
    font-weight: 400;
    position: relative;
    color: #000;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sales-block span {
    text-align: center;
}

.sales-block {
    width: 22%;
    display: inline-block;
    margin-right: 15px;
    padding: 28px 5px 7px;
    height: 123px;
    vertical-align: top;
    border: 1px solid #DAE1E4;
    border-radius: 7px;
    background-color: #fff;
    text-align: center;
}

.site-block {
    padding: 20px;
    margin-bottom: 20px;
    background: #f9f9f9 !important;
    border: 1px solid #eee;
    font-weight: 400;
    position: relative;
    color: #000;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inter-widget {
    border: 1px solid #ECECEC;
    padding: 15px 12px;
}

.inter-title {
    width: 100%;
    border-bottom: 1px solid #EDEDED;
    padding: 0 10px;
}

.inter-details {
    height: 185px;
}

.inter-details .left {
    padding: 20px 10px 27px;
    border-right: 1px solid #F1F7F8;
}

.inter-details .right {
    width: 41.66666667%;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.btn-group .btn.dropdown-toggle {width:100%;}
.btn-group .dropdown-menu {width:100%;}

header {
  padding: 154px 0 100px;
}

section {
  padding: 150px 0;
}

.test {
  align-items:center;
  display: flex;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  background-color: #eeeeee;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

/* Added By XLZ */
span {
  font-size: small;
}
